{% extends 'basetemplate.html' %}
{% load static %}


{% block mycontent %}
<!-- Full-width welcome text -->
<div class="welcome-text">
    <h2 class="display-3">Welcome to NRICARGO</h2>
</div>


<!-- Grey background color for content -->
<div class="container-fluid grey-background">
    <div class="center-box">
        <div class="box">
            <p class="lead">Explore our NRI Cargo services for secure and efficient shipments to and from abroad. We understand the importance of timely and reliable cargo services for NRIs (Non-Resident Indians).</p>
            <p class="lead">Our NRI Cargo services include:</p>
            <ul class="lead">
                <li>Door-to-door delivery</li>
                <li>Customs clearance assistance</li>
                <li>Secure packaging for fragile items</li>
                <li>Tracking and updates for your shipment</li>
            </ul>
            <p class="lead">Whether you are sending important documents, gifts, or personal belongings, trust us for a hassle-free NRI cargo experience.</p>
        </div>

        <div class="contact-box">
            <p class="lead">Contact us for more information:</p>
            <ul class="lead">
                <li>Email: info@nricargo.com</li>
                <li>Phone: +123-456-7890</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
